*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Workat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.2rem;
    height: 100%;
    margin-top: 20px;
}
.Workat button {
    width: 224px;
    height: 44px;
    top: 1176px;
    left: 589px;
    padding: 11px 18px 11px 18px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    border-radius: 10px;
    background: #02897A;    

}